@model IEnumerable<Centric_Project_rc744716.Models.Nominate>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Giver.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Giver.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profile.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valueComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nominateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.nominateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nominateID })
        </td>
    </tr>
}

</table>
