@model Centric_Project_rc744716.Models.Nominate

@{
    ViewBag.Title = "Delete Nomination";
}

<h2>Delete Nomination</h2>

<h3>Are you sure you want remove this nomination?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueComment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
