@model Centric_Project_rc744716.Models.Nominate

@{
    ViewBag.Title = "View Nomination Details";
}

<h2>View Nomination Details</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nominateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
