@model IEnumerable<Centric_Project_rc744716.Models.Nominate>

@{
    ViewBag.Title = "PersonalNominations";
}

<br />
<br />
<div class="well well-lg" style="background-image: url('https://centricconsulting.com/wp-content/uploads/2020/07/BA_WebsiteImages_InteriorPage_Tech-1024x253.png'); background-size: 100% 100%; width: 1150px; height: 200px; "><h1 style="color:white"> Received Nominations </h1></div>

<div>
<h4 style="font-style: italic;color: rgb(44,28,89)"
>View the values that your teammates have recognized in you!</h4>
</div>


<table class="table">
    <tr>
        <th>
            Nominated By
        </th>
        <th>
            Date Nominated
        </th>
        <th>
            Value Recognized
        </th>
        <th>
            Reason for Recognition
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Giver.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valueComment)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.nominateID })
            </td>

        </tr>

    }

</table>
@{


}
