@model IEnumerable<Centric_Project_rc744716.Models.Nominate>

@{
    ViewBag.Title = "PersonalNominations";
}

<br />
<br />
<div class="well well-lg" style="background-color: rgb(44,28,89);"><h3 style="color:white"> My Nominations</h3> 
    
    <h4 style="font-style:italic;color:rgba(250, 183, 34, 1)">View the values that your teammates have recognized in you!</h4>
</div>

<p>
   
</p>
<table class="table">
    <tr>
        
        <th>
            Date Nominated
        </th>
        <th>
            Value Recognized
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueComment)
        </th>
      
    </tr>

@foreach (var item in Model) {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.date)
        
    </td>
    <td>

        @Html.DisplayFor(modelItem => item.value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.valueComment)
    </td>
    <td>
        @Html.ActionLink("Remove", "Delete", new { id = item.nominateID })
        @Html.ActionLink("Details", "Details", new { id = item.nominateID })
    </td>

</tr>
}

</table>
